small {
    color: #e74c3c;
    visibility: hidden;
}

.product-image {
    padding: 16px;
}

.basket-product-image {
    height: 64px;
}

.basket-product-image-container {
    width: 120px;
}

p.loginError {
    color: red;
    display: none;
}

body {
    display: none;
}
